name: Build and deploy the website

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/build-and-deploy-site.yml'
      - 'www/**'
      - '!www/package*.json'

jobs:
  build-and-deploy-site:
    name: Build the website, and deploy to GitHub Pages
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '22'

      - name: Install dependencies and build the website
        run: |
          cd www
          npm install
          gulp

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4.6.3
        with:
          branch: gh-pages
          folder: www/build
